@import "tailwindcss";

@theme inline {
  --font-title: var(--font-playfair);
  --font-content: var(--font-josefin);
  --color-background: #f1e5d3;
  --color-blue: #3e4262;
  --color-blue-light: #5b66bd;
  --spacing-pageMax: 1280px;
}
